db
output_files
incremental_db
greybox_tmp/
simulation/modelsim/RISCV.sft
simulation/modelsim/RISCV.vho
simulation/modelsim/RISCV_6_1200mv_0c_slow.vho
simulation/modelsim/RISCV_6_1200mv_0c_vhd_slow.sdo
simulation/modelsim/RISCV_6_1200mv_85c_slow.vho
simulation/modelsim/RISCV_6_1200mv_85c_vhd_slow.sdo
simulation/modelsim/RISCV_min_1200mv_0c_fast.vho
simulation/modelsim/RISCV_min_1200mv_0c_vhd_fast.sdo
simulation/modelsim/RISCV_modelsim.xrf
simulation/modelsim/RISCV_run_msim_rtl_vhdl.do.bak
simulation/modelsim/RISCV_run_msim_rtl_vhdl.do.bak1
simulation/modelsim/RISCV_run_msim_rtl_vhdl.do.bak2
simulation/modelsim/RISCV_run_msim_rtl_vhdl.do.bak3
simulation/modelsim/RISCV_run_msim_rtl_vhdl.do.bak4
simulation/modelsim/RISCV_run_msim_rtl_vhdl.do.bak5
simulation/modelsim/RISCV_run_msim_rtl_vhdl.do.bak6
simulation/modelsim/RISCV_vhd.sdo
simulation/modelsim/data_mem.mif
simulation/modelsim/ins_mem.mif
simulation/modelsim/modelsim.ini
simulation/modelsim/msim_transcript
simulation/modelsim/rtl_work/
simulation/modelsim/vsim.wlf